.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.records-container {
  display: flex;
  align-items: flex-start; /* 상단 정렬 */
}

.record-section {
  margin-right: 20px; /* 오른쪽 여백 */
}

.saved-section {
  border-left: 1px solid #ccc; /* 구분선 */
  padding-left: 20px; /* 왼쪽 패딩 */
}

@media (max-width: 600px) {
  .memo-page {
      width: 100%; /* 작은 화면에서의 설정 */
  }
}
